@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bulky Books</h1>
    <a asp-action="Index" asp-controller="Category" class="btn btn-lg btn-info" style="width:150px">
        Categories
    </a>
</div>
